/* ------ TO DO ----------- 
- handle strike-through with a background image - so it's longer
- make an "x" at the end of each list item

*/




body {
	background-color: #E6E7E8;
	font: normal 18px/42px Arial, sans-serif;
}

.container {
	width: 400px;
	margin: 0 auto;
}

header {
	padding-top: 70px;
	color: #8DC63F;
}

header a, header a:visited, header a:hover {
	color: #8DC63F;
}

header a:hover {
	text-decoration: none;
}

/* -------- form ---------- */
form input[type="text"]{
	height: 40px;
	width: 328px;
	background-color: #939598;
	color: #E6E7E8;
	margin: 0;
	border: none;
	padding: 0 16px;
	vertical-align: top;
	font: normal 18px/42px Arial, sans-serif;
}
form button {
	background-color: #8DC63F;
	width: 40px;
	height: 40px;
	margin: 0;
	float: right;
	border: none;
}

form button:hover {
	background-color: #A9D860;
}

/* ------ all this code is just for the placeholder color -------- */
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #E6E7E8;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #E6E7E8;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #E6E7E8;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #E6E7E8;
}


/* -------- the list -------- */

ul#the-list {
	list-style: none;
	margin: 0;
}

li {
	padding:0 17px;
	margin-top: 8px;
	display: block;
	height: 40px;
	width: 366px;
	background-color: #ffffff;
	color: #58595B;
}

li.checked {
	background-color: #E6E7E8;
	color: #939598;
	text-decoration: line-through;
}
/* -------- footer --------- */
footer {
	margin-top: 40px;
	border-top: 1px solid #939598;
	color: #939598;
	line-height: 30px;
}









